<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Ani-DB</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/root.css">
</head>
<body>
    <%- include('navbar.ejs') %>
    <div class="container">
        <div class="card">
            <div class="poster">
                <img src="/img/naruto.jpg" alt="anime">
            </div>
            <p class="title">Naruto</p>
            <p class="genre">Genre: Adventure, Fantasy</p>
            <p class="episodes">Episodes: 720</p>
            <p class="seasons">Seasons: 21</p>
        </div>
    </div>
</body>
</html>