<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <div class="main-nav">
        <nav>
            <div class="logo">
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/featured">Featured</a></li>
                <li><a href="/form">DBForm</a></li>
            </ul>
            <div class="icons">
                <div class="menu">
                    <img src="/img/menu.png" alt="menu">
                </div>
                <div class="close">
                    <img src="/img/close.png" alt="close">
                </div>
            </div>
        </nav>
        <div class="menu-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/featured">Featured</a></li>
                <li><a href="/form">DBForm</a></li>
            </ul>
        </div>
    </div>
    <script src="/scripts/navbar.js"></script>
</body>
</html>